{% extends "base_generic.html" %}

{% block title %} <title>Biblio locale de wajdi</title>{% endblock %}

{% block content %}
  <h1>Accueil de la bibliothèque locale de wajdi</h1>
  <p>Bienvenue à la bibliothèque locale, un site web développé par <em>Wajdi Naouar</em>!</p>
  <h2>Contenu dynamique</h2>
  <p>La bibliothèque dispose des enregistrements suivants:</p>
  <ul>
    <li><strong>Livres:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies disponibles:</strong> {{ num_instances_available }}</li>
    <li><strong>Auteurs:</strong> {{ num_authors }}</li>
    <li><strong>Genre:</strong>{{num_genres}}</li>
    <li><strong>livres contenant 'la lettre p':</strong>{{num_instances_titles}}</li>
  </ul>
  <p>Vous avez visité cette page {{ num_visits }} time{{ num_visits|pluralize}}.</p>
{% endblock %} 